.titulo{
    font-size: 200%;
    text-align: center;
    margin-top: 10%;
    margin-left: 20%;
}

.formulario{
    margin-top:10%;
}

.subTitulo{
    font-weight: bold;
}

.item{
    border-top: 1px dotted #070707;
    margin-top: 5%;
}

.img{
    border-radius: 100%;
}

.borders{
    border-left: 1px solid #070707;
    border-right: 1px solid #070707;
}

.estudios{
    margin-left: 5%;
}